<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Upload Image Suite">
    <test name="Test Image Upload and public id">
        <classes>
            <class name="UploadImageTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->